{% extends "base.html" %}
{% block content %}
<div class="page-wrapper">
    <!-- forecast trigger card and trend chart -->
    <div class="row">
        <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="card-title mb-0">Highlights</h6>
                </div>
                <div id="storageChart"></div>
                <div class="row mb-3">
                    <div class="col-6 d-flex justify-content-end">
                    <div>
                        <label class="d-flex align-items-center justify-content-end tx-10 text-uppercase fw-bolder">Total storage <span class="p-1 ms-1 rounded-circle bg-secondary"></span></label>
                        <h5 class="fw-bolder mb-0 text-end">8TB</h5>
                    </div>
                    </div>
                    <div class="col-6">
                    <div>
                        <label class="d-flex align-items-center tx-10 text-uppercase fw-bolder"><span class="p-1 me-1 rounded-circle bg-primary"></span> Used storage</label>
                        <h5 class="fw-bolder mb-0">~5TB</h5>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Projected Demand</h6>
                </div>
                <div id="monthlySalesChart"></div>
                </div> 
            </div>
        </div>
    </div>
    <!-- forecasted data download button -->
    <div class = "d-flex justify-content-end align-items-center flex-wrap grid-margin text-nowrap">
        <!-- <button type="button" class="btn btn-outline-primary">Year</button> -->
        <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
            <i class="btn-icon-prepend" data-feather="download-cloud"></i>
            Download
        </button>
    </div>
    <div class="row">
        <div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6 class="card-title mb-0">Warehouses</h6>
              </div>
              <div class="d-flex flex-column" id = "warehouseForecastChart">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-xl-8 stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6 class="card-title mb-0">Details</h6>
              </div>
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th class="pt-0">#</th>
                      <th class="pt-0">Warehouse</th>
                      <th class="pt-0">CategoryId</th>
                      <th class="pt-0">ProductId</th>
                      <th class="pt-0">Month-Year</th>
                      <th class="pt-0">Demand</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div> 
          </div>
        </div>
    </div> 
</div>
    
{% endblock %}